# Compiled Object files
*.slo
*.lo
*.o
*.out

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# database files
*.db

# mac files
.DS_Store

# executable file
greenhouse
*.exe

# Editors temp files
*~

# generated doxygen files
server/application/docs
server/application/docs/*